{% extends 'unfold/layouts/base.html' %} {% block content %}

<h2>Sign Up</h2>

<div class="flex min-h-screen">
    <div
        class="flex flex-grow items-center justify-center mx-auto px-4 relative"
    >
        <div class="w-full sm:w-96">
            <h1 class="font-semibold mb-10">
                <span
                    class="block text-primary-600 text-xl dark:text-primary-500"
                    >{{ site_title }}</span
                >
            </h1>

            <form method="post" action="{% url 'account:signup' %}">
                {% csrf_token %} {{ form.as_p }}
                <button type="submit">Sign Up</button>
            </form>
        </div>
    </div>
</div>

{% endblock %}
