<!doctype html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{% block title %}Mi Sitio Web{% endblock %}</title>
    <link rel="stylesheet" href="static/css/style.css" />
  </head>
  <body>
    <header>{% block header %}{% endblock %}</header>

    <nav>{% block nav %}{% endblock %}</nav>

    <main>{% block content %}{% endblock %}</main>

    <footer>{% block footer %}{% endblock %}</footer>
  </body>
</html>
